{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}


{% block content %}
<div class="auth-shell">
  <div class="card auth-card text-center">
    <p class="page-eyebrow">Account</p>
    <h1>Sign out?</h1>
    <p class="text-secondary">You will need to enter your credentials to access your schemes again.</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex gap-2 justify-content-center">
        <a class="btn btn-outline-dark" href="{% url 'schemes:post_login' %}">Cancel</a>
        <button class="btn btn-jsk" type="submit">Sign out</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
