{
	email {$ACME_EMAIL}
}

www.jaishrikrishnajewellery.com {
	redir https://jaishrikrishnajewellery.com{uri} permanent
}

jaishrikrishnajewellery.com {
	encode zstd gzip
	log {
		output stdout
		format filter {
			request>remote_ip ip_mask 24 48
			request>client_ip ip_mask 24 48
			request>headers>User-Agent delete
			wrap json
		}
	}
	log_append release {env.APP_RELEASE}
	@sensitiveAuthPaths path /accounts/password/reset/key/* /accounts/invitations/*
	log_skip @sensitiveAuthPaths
	reverse_proxy web:8000
}
